/* css Resetting */

* {
  box-sizing: border-box;
}
body {
  background-color: rgba(35, 33, 33, 0.928);
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

:root {
  --color-primary: #00ff00;
  --color-accent-1: #ff00ff;
}

.wrapper {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5rem;
}

/*Header*/

.container-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-bottom: 5px solid var(--color-accent-1);
}

.text-header {
  text-align: center;
  font-size: 1.1rem;
  font-family: "Press Start 2P", cursive;
  color: #00ff00;
}

@media (min-width: 550px) {
  .text-header {
    font-size: 1.5rem;
  }
}
@media (min-width: 700px) {
  .text-header {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .text-header {
    font-size: 2.5rem;
  }
}

.header-square-left {
  position: relative;
  top: 2vw;
  left: 15vw;
  background-color: var(--color-accent-1);
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  z-index: -5;
  animation: blink-squre 0.4s infinite;
}

.header-square-right {
  position: relative;
  top: 2vw;
  right: 15vw;
  background-color: var(--color-accent-1);
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  z-index: -5;
  animation: blink-squre 0.4s infinite;
}

/* animation text */
.head-wrap {
  display: flex;
  justify-content: center;
}
.capitalLetter {
  font-family: "Press Start 2P", cursive;
  font-size: 150%;
  color: var(--color-accent-1);
}
.title-text {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Press Start 2P", cursive;
  color: var(--color-primary);
  font-size: 0.5rem;
}
@media (min-width: 600px) {
  .title-text {
    font-size: 0.6rem;
  }
}
@media (min-width: 700px) {
  .title-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .title-text {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .title-text {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .title-text {
    font-size: 1.5rem;
  }
}

.title-text-animation-1 {
  animation-name: text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.title-text-animation-2 {
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
}

.title-text-animation-3 {
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 0.45s;
  animation-iteration-count: infinite;
}

.title-text-animation-4 {
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 0.65s;
  animation-iteration-count: infinite;
}

/*LINKS*/
.container-links-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-links-games {
  margin-top: 45px;
  margin-bottom: 10px;
  width: 62vw;
  max-width: 744px;
  height: 40px;
  border-bottom: 3px var(--color-accent-1);
  overflow-x: scroll;
}

.links-games {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.8rem;
  list-style-type: none;
  padding-inline-start: 0px;
}

.links-games a {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  font-size: 0.8rem;
  width: 160px;
  color: #00ff00;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  border-bottom: 3px solid var(--color-accent-1);
  border-left: 3px solid var(--color-accent-1);
  border-right: 3px solid var(--color-accent-1);
}

/*screen*/

.grid {
  display: grid;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
}
@media (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    justify-content: start;
  }
}

.wrapper-amiga {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
  width: 65vw;
  max-width: 780px;
  height: 48vw;
  max-height: 576px;
}

.screen {
  position: absolute;
  justify-self: center;
  width: 65vw;
  max-width: 780px;
  height: 48vw;
  max-height: 576px;
  background-color: rgb(191, 186, 186);
  border: solid 2px black;
  border-radius: 2%;
}

.window {
  position: relative;
  top: 3vw;
  left: 2.5vw;
  width: 60vw;
  max-width: 720px;
  height: 38vw;
  max-height: 456px;
  background-color: black;
  border-radius: 10%;
  animation-name: tv-flicker;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@media (min-width: 1200px) {
  .window {
    top: 28px;
    left: 30px;
  }
}
/*LINKS*/

.container-links-page {
  margin-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
}

.links-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.4rem;
  padding-inline-start: 0px;
  list-style-type: none;
}
@media (min-width: 560px) {
  .links-page {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.7rem;
  }
}

@media (min-width: 800px) {
  .links-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }
}

.links-page a {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
  color: #00ff00;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  border-bottom: 3px solid rgb(248, 6, 203);
  border-left: 3px solid rgb(248, 6, 203);
  border-right: 3px solid rgb(248, 6, 203);
}

@media (min-width: 768px) {
  .links-page a {
    font-size: 1.2rem;
  }
}

.line {
  border-radius: 10px;
  height: 5px;
  width: 100%;
  background-color: #ff00ff;
  margin: 5px;
  animation-name: line;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.line-1 {
  border-radius: 10px;
  height: 5px;
  width: 90%;
  background-color: #ff00ff;
  margin: 7px;
  animation-name: line;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}
.line-2 {
  border-radius: 10px;
  height: 5px;
  width: 90%;
  background-color: #ff00ff;
  margin: 7px;
  animation-name: line;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
}

/* Footer */

.container-footer {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-content {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 30px;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 700px) {
  .footer-content {
    grid-template-columns: 2.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2.5fr 0.5fr;
  }
}

.footer-headtext {
  font-size: 1rem;
  color: var(--color-accent-1);
  white-space: nowrap;
}
@media (min-width: 700px) {
  .footer-headtext {
    font-size: 1.5rem;
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}

.footer-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  justify-self: start;
  font-family: Helvetica, sans-serif;
  color: black;
}
@media (min-width: 900px) {
  .footer-text {
    font-size: 1.5rem;
  }
}

.footer-links {
  list-style: none;
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-inline-start: 0px;
}

.footer-links-img {
  width: 30px;
  height: 30px;
}

/* Animation */

@keyframes blink-squre {
  0% {
    background-color: #ff00ff;
  }
  49% {
    background-color: #ff00ff;
  }
  50% {
    background-color: #00ff00;
  }
  100% {
    background-color: #00ff00;
  }
}

@keyframes text {
  0% {
    top: 0px;
  }
  25% {
    top: 45px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 45px;
  }
  100% {
    top: 0px;
  }
}

@keyframes tv-flicker {
  0% {
    box-shadow: 0 0 20px 5px #ffffff;
  }

  20% {
    box-shadow: 0 0 30px 5px #b34fec;
  }

  40% {
    box-shadow: 0 0 20px 5px #4fec4f;
  }

  60% {
    box-shadow: 0 0 30px 5px #ec4f5c;
  }

  80% {
    box-shadow: 0 0 20px 5px #dbd4e0;
  }

  100% {
    box-shadow: 0 0 30px 5px #e9ec4f;
  }
}

@keyframes line {
  0% {
    width: 90%;
  }
  10% {
    width: 80%;
  }
  20% {
    width: 60%;
  }
  30% {
    width: 40%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 20%;
  }
  60% {
    width: 30%;
  }
  70% {
    width: 40%;
  }
  80% {
    width: 60%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 90%;
  }
}
