/* css Resetting */

* {
  box-sizing: border-box;
}
body {
  background-color: rgba(35, 33, 33, 0.928);
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

/*global*/

html {
  scroll-padding-top: 9999px;
}

:root {
  --color-primary: #00ff00;
  --color-accent-1: #ff00ff;
}

.wrapper {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

/*background*/

.container-background-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-img__fade-out {
  position: absolute;
  width: 98vw;
  max-width: 1200px;
  border: 1px solid var(--color-accent-1);
  border-radius: 20%;
  pointer-events: none;
  z-index: 2000;
  animation: fade-out 8s ease forwards;
}

.background-img__fade-in {
  position: absolute;
  width: 98vw;
  max-width: 1200px;
  border: 2px solid var(--color-accent-1);
  border-radius: 20%;
  pointer-events: none;
  z-index: -2000;
  visibility: hidden;
  animation: fade-in 8s 6s ease forwards;
}

/*Header*/

.container-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-bottom: 5px solid var(--color-accent-1);
}

.container-header-text__title {
  text-align: center;
  font-size: 1.1rem;
  color: var(--color-primary);
}

@media (min-width: 550px) {
  .container-header-text__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 700px) {
  .container-header-text__title {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .container-header-text__title {
    font-size: 2.5rem;
  }
}

.container-header__square-left {
  position: relative;
  top: 2vw;
  left: 15vw;
  background-color: var(--color-accent-1);
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  z-index: -5;
  animation: blink-squre 0.4s infinite;
}

.container-header__square-right {
  position: relative;
  top: 2vw;
  right: 15vw;
  background-color: var(--color-accent-1);
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  z-index: -5;
  animation: blink-squre 0.4s infinite;
}

/* animation text */
.container-jumping {
  display: flex;
  justify-content: center;
}
.container-jumping__capital-letter {
  font-family: "Press Start 2P", cursive;
  font-size: 150%;
  color: var(--color-accent-1);
}
.container-jumping__text {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Press Start 2P", cursive;
  color: var(--color-primary);
  font-size: 0.5rem;
}
@media (min-width: 600px) {
  .container-jumping__text {
    font-size: 0.6rem;
  }
}
@media (min-width: 700px) {
  .container-jumping__text {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .container-jumping__text {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .container-jumping__text {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .container-jumping__text {
    font-size: 1.5rem;
  }
}

.text-animation1 {
  animation-name: text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.text-animation2 {
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
}

.text-animation3 {
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 0.45s;
  animation-iteration-count: infinite;
}

.text-animation4 {
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 0.65s;
  animation-iteration-count: infinite;
}

/*LINKS*/

.flex-container-links-games {
  display: flex;
  justify-content: center;
}
.flex-container-links-games__scroll-box {
  margin-top: 45px;
  margin-bottom: 10px;
  width: 62vw;
  max-width: 744px;
  height: 40px;
  overflow-x: scroll;
}

.scroll-box__grid-links-games {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.8rem;
  list-style-type: none;
  padding-inline-start: 0px;
}

.links-games-style {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  font-size: 0.8rem;
  width: 160px;
  color: #00ff00;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  background-color: rgba(35, 33, 33, 0.928);
  border-bottom: 3px solid var(--color-accent-1);
  border-left: 3px solid var(--color-accent-1);
  border-right: 3px solid var(--color-accent-1);
}

/*screen*/

.grid-main {
  display: grid;
  width: 100%;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
}
@media (min-width: 800px) {
  .grid-main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    justify-content: start;
  }
}

.container-monitor {
  margin: 10px;
  width: 65vw;
  max-width: 780px;
  height: 48vw;
  max-height: 576px;
}

.container-monitor__screen {
  position: absolute;
  justify-self: center;
  width: 65vw;
  max-width: 780px;
  height: 48vw;
  max-height: 576px;
  background-color: rgb(191, 186, 186);
  border: solid 2px black;
  border-radius: 2%;
}

.container-monitor__window {
  position: relative;
  top: 3vw;
  left: 2.2vw;
  width: 60vw;
  max-width: 720px;
  height: 38vw;
  max-height: 456px;
  overflow: hidden;
  background-color: black;
  border-radius: 10%;
  animation-name: tv-flicker;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@media (min-width: 1200px) {
  .container-monitor__window {
    top: 28px;
    left: 30px;
  }
}

.screen-shots-start {
  position: absolute;
  width: 60vw;
  max-width: 720px;
  height: 38vw;
  max-height: 456px;
  color: var(--color-primary);
  background-color: black;
}
.screen-shots {
  position: absolute;
  width: 60vw;
  max-width: 720px;
  height: 38vw;
  max-height: 456px;
  color: var(--color-primary);
  background-color: black;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s;
  opacity: 0;
}

.screen-shots:target {
  visibility: visible;
  opacity: 1;
}

.screen-shots-text {
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: scale 1s infinite alternate;
}

@media (min-width: 500px) {
  .screen-shots-text {
    font-size: 2rem;
  }
}

@media (min-width: 750px) {
  .screen-shots-text {
    font-size: 2.5rem;
  }
}

@media (min-width: 1100px) {
  .screen-shots-text {
    font-size: 3.5rem;
  }
}

/*LINKS*/

.container-links {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.container-links__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.4rem;
  padding-inline-start: 0px;
  list-style-type: none;
}
@media (min-width: 620px) {
  .container-links__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.6rem;
  }
}
@media (min-width: 800px) {
  .container-links__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }
}

.grid-links__style-links {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
  color: #00ff00;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  background-color: rgba(35, 33, 33, 0.928);
  border-bottom: 3px solid rgb(248, 6, 203);
  border-left: 3px solid rgb(248, 6, 203);
  border-right: 3px solid rgb(248, 6, 203);
}

@media (min-width: 768px) {
  .grid-links__style-links {
    font-size: 1.2rem;
  }
}

/*lines*/

.line0 {
  border-radius: 10px;
  height: 5px;
  width: 100%;
  background-color: #ff00ff;
  margin: 5px;
  animation-name: line;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.line1 {
  border-radius: 10px;
  height: 5px;
  width: 90%;
  background-color: #ff00ff;
  margin: 7px;
  animation-name: line;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}
.line2 {
  border-radius: 10px;
  height: 5px;
  width: 90%;
  background-color: #ff00ff;
  margin: 7px;
  animation-name: line;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
}

/* Footer */

.container-footer {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-content {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 30px;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 700px) {
  .footer-content {
    grid-template-columns: 2.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2.5fr 0.5fr;
  }
}

.footer-content__headtext {
  font-size: 1rem;
  color: var(--color-accent-1);
  white-space: nowrap;
}
@media (min-width: 700px) {
  .footer-content__headtext {
    font-size: 1.5rem;
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}

.footer-content__text {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  justify-self: start;
  font-family: Helvetica, sans-serif;
  color: black;
}
@media (min-width: 580px) {
  .footer-content__text {
    font-size: 1.5rem;
  }
}

.footer-content__small-text {
  font-size: 0.5rem;
  vertical-align: middle;
  margin-bottom: 1rem;
  justify-self: start;
  font-family: Helvetica, sans-serif;
  color: black;
}
@media (min-width: 580px) {
  .footer-content__small-text {
    font-size: 0.8rem;
  }
}

.footer-content__links {
  list-style: none;
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-inline-start: 0px;
}

.footer-content__links-img {
  width: 30px;
  height: 30px;
}

/* Animation */

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blink-squre {
  0% {
    background-color: #ff00ff;
  }
  49% {
    background-color: #ff00ff;
  }
  50% {
    background-color: #00ff00;
  }
  100% {
    background-color: #00ff00;
  }
}

@keyframes text {
  0% {
    top: 0px;
  }
  25% {
    top: 45px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 45px;
  }
  100% {
    top: 0px;
  }
}

@keyframes tv-flicker {
  0% {
    box-shadow: 0 0 20px 5px #ffffff;
  }

  20% {
    box-shadow: 0 0 30px 5px #b34fec;
  }

  40% {
    box-shadow: 0 0 20px 5px #4fec4f;
  }

  60% {
    box-shadow: 0 0 30px 5px #ec4f5c;
  }

  80% {
    box-shadow: 0 0 20px 5px #dbd4e0;
  }

  100% {
    box-shadow: 0 0 30px 5px #e9ec4f;
  }
}
@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes line {
  0% {
    width: 90%;
  }
  10% {
    width: 80%;
  }
  20% {
    width: 60%;
  }
  30% {
    width: 40%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 20%;
  }
  60% {
    width: 30%;
  }
  70% {
    width: 40%;
  }
  80% {
    width: 60%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 90%;
  }
}
