/* css Resetting */

* {
  box-sizing: border-box;
}
body {
  background-color: rgba(35, 33, 33, 0.928);
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/*GLOBAL*/

:root {
  --color-primary: #00ff00;
  --color-accent-1: #ff00ff;
}

.wrapper {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5rem;
}

/*Header*/

.container-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-bottom: 5px solid var(--color-accent-1);
}

.container-header-text__title {
  text-align: center;
  font-size: 1.1rem;
  font-family: "Press Start 2P", cursive;
  color: var(--color-accent-1);
}

@media (min-width: 550px) {
  .container-header-text__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 700px) {
  .container-header-text__title {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .container-header-text__title {
    font-size: 2.5rem;
  }
}

.container-header__square-left {
  position: relative;
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  top: 2vw;
  left: 12vw;
  z-index: -5;
  background-color: var(--color-accent-1);
  transform: rotate(25deg);
  animation: blink-squre 0.4s infinite;
}

.container-header__square-right {
  position: relative;
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  top: 2vw;
  right: 12vw;
  z-index: -5;
  background-color: var(--color-accent-1);
  transform: rotate(-25deg);
  animation: blink-squre 0.4s infinite;
}

/*main*/

.grid-container {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}
@media (min-width: 666px) {
  .grid-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
.flex-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 100px;
}

/*gif and form*/

.form-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
  max-width: 350px;
  padding: 1rem;
  border-radius: 8px;
  animation: border 2s linear infinite;
}

input:focus {
  outline: 3px solid var(--color-primary);
}
textarea:focus {
  outline: 3px solid var(--color-primary);
}
.form-container__text {
  font-size: 0.8rem;
  color: var(--color-primary);
}

.form-container__answer {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 270px;
}
.form-container-send {
  display: flex;
  justify-content: end;
}
.form-container-send__button {
  color: black;
  text-align: center;
  background-color: var(--color-accent-1);
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 8px;
}

/*Links*/

.container-links {
  margin-top: 10vw;
  margin-right: 2vw;
  margin-left: 2vw;
}

.grid-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.4rem;
  list-style-type: none;
  padding-inline-start: 0px;
}
@media (min-width: 560px) {
  .grid-links {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.7rem;
  }
}

.grid-links__style-links {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
  color: #00ff00;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  border-bottom: 3px solid var(--color-accent-1);
  border-left: 3px solid var(--color-accent-1);
  border-right: 3px solid var(--color-accent-1);
}

@media (min-width: 768px) {
  .grid-links__style-links {
    font-size: 1.2rem;
  }
}

/* Footer */

.container-footer {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-content {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 30px;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 700px) {
  .footer-content {
    grid-template-columns: 2.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2.5fr 0.5fr;
  }
}

.footer-content__headtext {
  font-size: 1rem;
  color: var(--color-accent-1);
  white-space: nowrap;
}
@media (min-width: 700px) {
  .footer-content__headtext {
    font-size: 1.5rem;
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}

.footer-content__text {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  justify-self: start;
  font-family: Helvetica, sans-serif;
  color: black;
}
@media (min-width: 580px) {
  .footer-content__text {
    font-size: 1.5rem;
  }
}

.footer-content__small-text {
  font-size: 0.5rem;
  vertical-align: middle;
  margin-bottom: 1rem;
  justify-self: start;
  font-family: Helvetica, sans-serif;
  color: black;
}
@media (min-width: 580px) {
  .footer-content__small-text {
    font-size: 0.8rem;
  }
}

.footer-content__links {
  list-style: none;
  display: flex;
  justify-self: end;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-inline-start: 0px;
}

.footer-content__links-img {
  width: 30px;
  height: 30px;
}

/* Animation */

@keyframes blink-squre {
  0% {
    background-color: var(--color-accent-1);
  }
  49% {
    background-color: var(--color-accent-1);
  }
  50% {
    background-color: var(--color-primary);
  }
  100% {
    background-color: var(--color-primary);
  }
}

@keyframes border {
  0% {
    border-top: 5px solid var(--color-accent-1);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  25% {
    border-top: 5px solid transparent;
    border-right: 5px solid var(--color-accent-1);
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  50% {
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--color-accent-1);
    border-left: 5px solid transparent;
  }
  75% {
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--color-accent-1);
  }
  100% {
    border-top: 5px solid var(--color-accent-1);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}
