/* css Resetting */

* {
  box-sizing: border-box;
}
body {
  background-color: rgba(35, 33, 33, 0.928);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

/*Header*/

.container-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-bottom: 5px solid rgb(248, 6, 203);
}

.text-header {
  text-align: center;
  font-size: 1.1rem;
  font-family: "Press Start 2P", cursive;
  color: #00ff00;
}

@media (min-width: 550px) {
  .text-header {
    font-size: 1.5rem;
  }
}
@media (min-width: 700px) {
  .text-header {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .text-header {
    font-size: 2.5rem;
  }
}

.header-square-left {
  position: relative;
  top: 2vw;
  left: 15vw;
  background-color: #ff00ff;
  width: 20vw;
  height: 20vw;
  z-index: -5;
  animation: blink-squre 0.4s infinite;
}

.header-square-right {
  position: relative;
  top: 2vw;
  right: 15vw;
  background-color: #ff00ff;
  width: 20vw;
  height: 20vw;
  z-index: -5;
  animation: blink-squre 0.4s infinite;
}

/* animation text */
.head-wrap {
  display: flex;
  justify-content: center;
}
.capitalLetter {
  font-family: "Press Start 2P", cursive;
  font-size: 150%;
  color: #ff00ff;
}
.title-text {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Press Start 2P", cursive;
  color: #00ff00;
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .title-text {
    font-size: 1rem;
  }
}

.title-text-animation-1 {
  animation-name: text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.title-text-animation-2 {
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
}

.title-text-animation-3 {
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 0.45s;
  animation-iteration-count: infinite;
}

.title-text-animation-4 {
  animation-name: text;
  animation-duration: 3s;
  animation-delay: 0.65s;
  animation-iteration-count: infinite;
}

/* Main */

.grids {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
  justify-items: center;
}

/*LINKS*/
.container-links-games {
  margin-top: 45px;
  justify-self: center;
  width: 300px;
  height: 40px;
  border-bottom: 3px solid #ff00ff;
  overflow-x: scroll;
}
@media (min-width: 768px) {
  .container-links-games {
    width: 600px;
  }
}

.links-games {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.8rem;
  list-style-type: none;
  padding-inline-start: 0px;
}

.links-games a {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  font-size: 0.8rem;
  width: 160px;
  color: #00ff00;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  border-bottom: 3px solid rgb(248, 6, 203);
  border-left: 3px solid rgb(248, 6, 203);
  border-right: 3px solid rgb(248, 6, 203);
}

/*screen*/

.wrapper-amiga {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.screen {
  position: absolute;
  justify-self: center;
  width: 58vw;
  height: 42vw;
  background-color: rgb(191, 186, 186);
  border: solid 2px black;
  border-radius: 2%;
}

.window {
  position: relative;
  top: 3vw;
  left: 3.5vw;
  width: 50vw;
  height: 34vw;
  background-color: black;
  border-radius: 10%;
  animation-name: tv-flicker;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

/*LINKS*/

.container-links-page {
  margin-top: 45vw;
  margin-right: 5vw;
  margin-bottom: 3vw;
}

.links-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.4rem;
  list-style-type: none;
}
@media (min-width: 560px) {
  .links-page {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.7rem;
  }
}

.links-page a {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
  color: #00ff00;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  border-bottom: 3px solid rgb(248, 6, 203);
  border-left: 3px solid rgb(248, 6, 203);
  border-right: 3px solid rgb(248, 6, 203);
}

@media (min-width: 768px) {
  .links-page a {
    font-size: 1.2rem;
  }
}

.line {
  border-radius: 10px;
  height: 5px;
  width: 100%;
  background-color: #ff00ff;
  margin: 5px;
  animation-name: line;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.line-1 {
  border-radius: 10px;
  height: 5px;
  width: 90%;
  background-color: #ff00ff;
  margin: 7px;
  animation-name: line;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}
.line-2 {
  border-radius: 10px;
  height: 5px;
  width: 90%;
  background-color: #ff00ff;
  margin: 7px;
  animation-name: line;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
}

/*footer*/

.container-footer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.container-footer p {
  width: 100%;
  border: solid 4px #00ff00;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  color: #00ff00;
}

@media (min-width: 1024px) {
  .container-footer p {
    font-size: 1.2rem;
  }
}
/* Animation */

@keyframes blink-squre {
  0% {
    background-color: #ff00ff;
  }
  49% {
    background-color: #ff00ff;
  }
  50% {
    background-color: #00ff00;
  }
  100% {
    background-color: #00ff00;
  }
}

@keyframes text {
  0% {
    top: 0px;
  }
  25% {
    top: 45px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 45px;
  }
  100% {
    top: 0px;
  }
}

@keyframes tv-flicker {
  0% {
    box-shadow: 0 0 20px 5px #ffffff;
  }

  20% {
    box-shadow: 0 0 30px 5px #b34fec;
  }

  40% {
    box-shadow: 0 0 20px 5px #4fec4f;
  }

  60% {
    box-shadow: 0 0 30px 5px #ec4f5c;
  }

  80% {
    box-shadow: 0 0 20px 5px #dbd4e0;
  }

  100% {
    box-shadow: 0 0 30px 5px #e9ec4f;
  }
}

@keyframes line {
  0% {
    width: 90%;
  }
  10% {
    width: 80%;
  }
  20% {
    width: 60%;
  }
  30% {
    width: 40%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 20%;
  }
  60% {
    width: 30%;
  }
  70% {
    width: 40%;
  }
  80% {
    width: 60%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 90%;
  }
}
