/* css Resetting */

* {
  box-sizing: border-box;
}
body {
  background-color: rgba(35, 33, 33, 0.928);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

/*LOGO*/

.container-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container-header-text {
  width: 70%; /* big screens 40% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid rgb(248, 6, 203);
}

.text-header {
  font-family: "Press Start 2P", cursive;
  color: #00ff00;
  font-size: 1.1rem; /* big screens 2rem */
  text-align: center;
}

.gif-header-left {
  position: relative;
  top: 30px;
  transform: rotate(25deg);
  width: 15%; /* big screens 10% */
  height: 15%; /* big screens 10% */
  padding: 0.5rem;
}

.gif-header-right {
  position: relative;
  top: 30px;
  transform: rotate(-25deg);
  width: 15%; /* big screens 10% */
  height: 15%; /* big screens 10% */
  padding: 0.5rem;
}

/* green pixel rain */

.container-animation-pix {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pix-box-1 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.pix-box-2 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.pix-box-3 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pix-box-4 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
.pix-box-5 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.pix-box-6 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.pix-box-7 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
.pix-box-8 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 6s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
}
.pix-box-9 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 1s;
  animation-delay: 12s;
  animation-iteration-count: infinite;
}
.pix-box-10 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 8s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
.pix-box-11 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(248, 6, 203);
  position: relative;
  animation-name: rain;
  animation-duration: 12s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}

.continer-line {
  margin-top: 105px;
  display: flex;
  justify-content: center;
}

.line {
  position: absolute;
  height: 10px;
  width: 90%;
  background-color: #00ff00;
}

.cone-shape {
  position: absolute;
  margin-right: 310px;
  border-top: 30px solid #00ff00;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 40px;
}
.dripp {
  position: relative;
  display: block;
  top: 10px;
  left: -155px;
  background-color: #00ff00;
  height: 7px;
  width: 7px;
  animation: dripp-dropp 0.7s infinite ease-in-out;
}

/* logo text and link */
.container-logo {
  margin-top: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  width: 300px;
}
.container-link {
  width: 50px; /* big screens 40px */
  height: 50px; /* big screens 40px */
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.887);
  position: relative;
  top: 270px;
  margin: auto;
  background-color: rgba(248, 6, 204, 0.705);
  animation: circle 25s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.blink {
  animation: blink 1s infinite;
}

.link-text {
  font-family: "Press Start 2P", cursive;
  font-size: 0.4rem; /* big screens 0.8rem */
  padding: 2rem;
  text-decoration: none;
  color: #00ff00;
}

/* escape link */

.wrap-escape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.linkEscape {
  font-family: Helvetica, sans-serif;
  font-size: 0.7rem;
  border: solid 1px rgb(163, 15, 15);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  box-shadow: 2px 4px;
  text-decoration: none;
  color: black;
  padding: 15px 5px 15px 5px;
  margin: 10px;
}
.escape {
  margin-bottom: 2rem;
  font-family: "Reenie Beanie", cursive;
  color: #ff00ff;
  font-size: 1.5rem; /* big screens 3rem*/
  text-align: center;
  margin: 5%;
  animation-name: escape;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

/*footer*/

.container-footer {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}
.container-footer p {
  border: solid 4px #00ff00;
  padding: 20px;
  text-align: center;
  font-size: 0.7rem;
  font-family: Helvetica, sans-serif;
  color: #00ff00;
}

/* Animation */

@keyframes circle {
  0% {
    transform: rotate(0deg) translateY(128px) rotate(0deg); /* big screens 230px */
  }

  100% {
    transform: rotate(360deg) translateY(128px) rotate(-360deg); /* big screens 230px */
  }
}

@keyframes rain {
  from {
    top: 0px;
  }
  to {
    top: 465px;
    background-color: #00ff00;
  }
}

@keyframes escape {
  0% {
    color: #ff00ff;
  }
  100% {
    color: rgba(35, 33, 33, 0.928);
  }
}

@keyframes blink {
  0% {
    color: black;
  }

  50% {
    color: rgba(248, 6, 204, 0.705);
  }

  100% {
    color: black;
  }
}

@keyframes dripp-dropp {
  0% {
    top: 0px;
    width: 7px;
    height: 7px;
  }
  20% {
    top: 60px;
    width: 7px;
    height: 7px;
  }
  40% {
    top: 120px;
    width: 7px;
    height: 7px;
  }
  60% {
    top: 180px;
    width: 7px;
    height: 7px;
  }
  70% {
    top: 240px;
    width: 7px;
    height: 7px;
  }

  80% {
    top: 355px;
    height: 7px;
    width: 10px;
  }

  90% {
    top: 355px;
    height: 7x;
    width: 30px;
  }

  100% {
    top: 355px;
    height: 7px;
    width: 40px;
  }
}
