/* css Resetting */

* {
    box-sizing: border-box;
}
body {
    background-color: rgba(35, 33, 33, 0.928);
    margin: 0;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}

.head-wrap {
    display: flex;
    justify-content: center;
}

/*LOGO*/

.container-header {
    margin-top: 20px;
    display: flex;
    justify-content: center;    
} 

.container-header-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid  rgb(248, 6, 203);
}

.text-header {
    font-family: 'Press Start 2P', cursive;
    color: #00FF00;
    font-size: 2rem;
    text-align: center;  
}

/* iPhones and so on */
@media (max-width: 767px) {
    .container-header-text {
        width: 70%;
    }
    .text-header {
        font-size: 1.1rem;   
   }
}

.gif-header-left {
    position: relative;
    top: 90px;
    left: -90px;
    transform: rotate(45deg);
    width: 10%;
    height: 10%;
    padding: 0.5rem;
}

.gif-header-right {
    position: relative;
    top: 10px;
    transform: rotate(-95deg);
    width: 10%;
    height: 10%;
    padding: 0.5rem;

}
@media (max-width: 767px) {
    .gif-header-right {
        width: 15%;
        height: 15%;
    }

    .gif-header-left {
        width: 15%;
        height: 15%;
       
    }
}

.head-wrap {
    display: flex;
    justify-content: start;
}
.capitalLetter {
    font-family: 'Press Start 2P', cursive;
    font-size: 150%;
    color: #FF00FF;
}
.title-text {
    position: relative;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    color: #00FF00;
    font-size: 1rem;
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.grids {
    display: grid;
    grid-template-rows: 7fr 1fr;
}
/* Main */
.wrapper-amiga {
    display: flex;
    justify-content: center;

}
.screen {
    position: absolute;
    margin-top: 120px;
    width: 700px ;
    height: 500px;
    background-color: rgb(191, 186, 186);
    border-radius: 2%;
}

.window {
    position: relative;
    top: 30px;
    left:50px;
    width: 600px;
    height: 400px;
    background-color: black;
    border-radius: 10%;
}

.amiga-text {
    position: relative;
    top:62px;
    left: 320px;
    color: blueviolet;
    font-family: monospace;

}

/*LINKS*/


.container-links-botton {
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 120px;
    margin-bottom: 40px;
 } 

 @media (max-width: 767px) {
    .container-links-botton {
        margin-left: 20px;
        margin-right: 60px;
     }  
  
  }

.links-botton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 2rem;

    }
    @media (max-width: 767px) {
      .links-botton {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
      }
    
    }

.links-botton a {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        color: #00FF00;
        text-decoration: none; 
        font-family: 'Press Start 2P', cursive; 
        border-bottom: 3px solid  rgb(248, 6, 203);
        border-left: 3px solid  rgb(248, 6, 203);
        border-right: 3px solid  rgb(248, 6, 203); 
}
@media (max-width: 767px) {
    .links-botton a {
        padding: 0px 5px;

}
}


/*footer*/


.wrapper {
    display: flex;
    justify-content: center;
}
.container-footer {
    margin-top: 50px;
    margin-bottom: 20px;
}
.container-footer p {
    border: solid 4px #00FF00;
    padding: 20px;
    font-family: Helvetica, sans-serif;
    color: #00FF00;
    

}


@keyframes text {
    0%   { top:0px;left:0%;} 
    12.5% { top:30px}
    25%  { top: 0px; left: 30%;}
    36.5% {top:30px}
    50% { top: 0px;left:59%;}
    62.5% {top:30px;}
    75% { top: 0px;left:30%;}
    87.5% {top:30px;}
    100% {top:0px;left:0%;}
  }