/* css Resetting */

* {
  box-sizing: border-box;
}
body {
  background-color: rgba(35, 33, 33, 0.928);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

.container-header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container-header-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid rgb(248, 6, 203);
}

.text-header {
  font-family: "Press Start 2P", cursive;
  color: #00ff00;
  font-size: 2rem;
  text-align: center;
}

/* iPhones and so on */
@media (max-width: 767px) {
  .container-header-text {
    width: 70%;
  }

  .text-header {
    font-size: 1.1rem;
  }
}

.gif-header-left {
  position: relative;
  top: 90px;
  left: 170px;
  width: 10%;
  height: 10%;
  padding: 0.5rem;
  z-index: -1;
}

.gif-header-right {
  position: relative;
  top: 192px;
  right: 305px;
  transform: rotate(-25deg);
  width: 10%;
  height: 10%;
  padding: 0.5rem;
  z-index: -1;
}

@media (max-width: 767px) {
  .gif-header-left {
    top: 55px;
    left: 100px;
    width: 15%;
    height: 15%;
  }

  .gif-header-right {
    top: 80px;
    right: 170px;
    width: 15%;
    height: 15%;
  }
}

.head-wrap {
  display: flex;
  justify-content: center;
}
.container-text {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
}

.bodyText {
  text-indent: 2rem;
  color: #ff00ff;
  font-family: Helvetica, sans-serif;
}

.capitalLetter {
  font-family: "Press Start 2P", cursive;
  font-size: 150%;
  color: #00ff00;
}

.container {
  position: relative;
  margin-top: 200px;
  width: 500px;
  height: 500px;
}
@media (max-width: 767px) {
  .container {
    width: 280px;
  }
}

ul {
  list-style-type: none;
}

.container-links a {
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ff00;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  background-color: rgb(248, 6, 203);
}

@media (max-width: 767px) {
  .container-links a {
    font-size: 0.5rem;
    width: 60px;
    height: 60px;
  }
}

.link-writing {
  position: absolute;
  top: -175px;
  left: -30px;
  animation-name: writing;
  animation-duration: 4.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.link-games {
  position: absolute;
  top: 100px;
  left: -200px;
  animation-name: games;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.link-amiga {
  position: absolute;
  top: -300px;
  right: -110px;
  animation-name: amiga;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.link-back {
  animation-name: amiga;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.link-read {
  position: absolute;
  top: 300px;
  right: -100px;
  animation-name: writing;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle-1 {
  position: absolute;
  top: 30px;
  right: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #00ff00;
  animation-name: amiga;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle-2 {
  position: absolute;
  top: -210px;
  right: 150px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #00ff00;
  animation-name: writing;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle-3 {
  position: absolute;
  top: 300px;
  left: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #00ff00;
  animation-name: amiga;
  animation-delay: 1s;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.container-footer {
  margin-top: 300px;
  margin-bottom: 20px;
}
.container-footer p {
  border: solid 4px #00ff00;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  color: #00ff00;
}

@keyframes amiga {
  0% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 100px;
    height: 100px;
    font-size: 0.8rem;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}

@keyframes writing {
  0% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 140px;
    height: 140px;
    font-size: 0.9rem;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}

@keyframes games {
  0% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 160px;
    height: 160px;
    font-size: 1rem;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}
